@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19; /* Gray 900 */
    --color-primary: #6366F1;
    --color-gray-100: #F3F6FF;
    --color-gray-300: #E2E5F1;
    --color-gray-400: #D4D7E5;
    --color-gray-500: #B4B7C9;
    --color-gray: #9397AD; /* Gray 600 */
    --color-gray-700: #565973;
    --color-gray-800: #33354D;
    --color-white: #FFFFFF;
    --color-success: #22C55E;
}

* {
    box-sizing: border-box;
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--color-white);
    &.dark {
        background-color: var(--color-dark);
    }
}

body, input {
    font-family: "Manrope", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.caret-btn {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: var(--color-gray-100);
    &.dark {
        background-color: rgb(255 255 255 / 4%);
    }
}

.chevron-down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    font-size: 12px;
    color: var(--color-gray-800);
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
    }
    &.dark {
        color: white;
    }
}

header {
    position: absolute;
    width: 100%;

    .header-wrapper {
        height: 76px;
        width: 1296px;
        display: flex;
        justify-content: space-between;
        margin: auto;

        &.dark a {
            color: var(--color-white);
            opacity: 0.9;
            font-weight: 400;
            letter-spacing: .3px;
        }

        img {
            margin-right: 48px;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        a {
            margin-right: 1.5rem;
            font-size: 16px;
            line-height: 160%;
            font-weight: 600;
            /* letter-spacing: .3px; */
            color: var(--color-gray-800);
            /* opacity: 0.85; */
        }

        p {
            font-size: 16px;
            line-height: 160%;
            font-weight: 600;
            color: var(--color-gray-700);
            margin-right: 16px;
        }

        .user {
            margin-bottom: -2px;
            margin-right: 5px;
        }

        button {
            height: 36px;
            width: 140px;
            border-radius: 4px;
            background-color: var(--color-primary);
            border: none;
            color: var(--color-white);
            margin-left: 34px;
            font-size: 14px;
            letter-spacing: .3px;
        }

        button:hover {
            cursor: pointer;
            background-color: hsl(239, 84%, 70%);
        }
        button:active {
            background-color: hsl(239, 84%, 65%);
        }

    }

    .switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 24px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-gray);
        -webkit-transition: .4s;
        transition: .4s;
        /* &.light {
          background-color: var(--color-gray);
        } */
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: var(--color-primary);
        box-shadow: 0px 3px 5px rgb(99 102 241 / 35%);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
}

.hero {
    padding-top: 188px;
    height: 876px;
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    overflow: hidden;
    margin: auto;

    .hero-wrapper {
        overflow: hidden;
        height: 100%;
        justify-content: space-between;
        width: 1296px;
        margin: 0px auto;
        background-color: transparent;
        position: relative;

        &.dark h1 {
            color: var(--color-white);
        }
        &.dark p {
            color: var(--color-white);
            opacity: 0.7;
            font-weight: 300;
            letter-spacing: 0.1px;
        }
        &.dark a {
            color: var(--color-white);
            font-weight: 200;
            opacity: 0.7;
        }
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 526px;
        padding-top: 40px;
        padding-bottom: 64px;
        background-color: transparent;
        height: 100%;
        h1 {
            margin: 0;
            font-size: 56px;
            color: var(--color-dark);
            font-weight: 800;
            line-height: 130%;
        }

        p {
            font-size: 18px;
            line-height: 160%;
            color: var(--color-gray-700);
            margin-top: 1.4rem;
            font-weight: 400;
        }
    }

    .app-buttons {
        margin-top: 48px;
        cursor: pointer;
        img {
            margin-right: 22px;
        }


    }

    .discover {
        width: 152px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-size: 14px;
            font-weight: 400;
            color: var(--color-gray-700);
            line-height: 160%;
            letter-spacing: .3px;
        }

    }

    .hero-iphones {
        width: 746px;
        height: 936px;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 0;
        img:nth-child(2) {
            position: absolute;
            right: 0;
        }
        img:nth-child(1) {
            position: absolute;
            bottom: -.1rem;
            left: 7rem;
        }
    }
}


a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.app-features {
    &.dark h1 {
        color: var(--color-white);
    }
    &.dark p {
        color: var(--color-white);
        opacity: 0.5;
        font-weight: 200;
        letter-spacing: .3px;
    }
    &.dark .feature-grid h5 {
        color: var(--color-white);
    }

    &.dark .feature-grid p {
        letter-spacing: .3px;
        color: var(--color-white);
        opacity: 0.7;
    }
    .logos {
        width: 1296px;
        height: 100px;
        margin: 96px auto 112px;
        display: flex;
        justify-content: space-between;

        img:hover {
            background-color: rgb(255 255 255 / 4%);
            cursor: pointer;
        }
    }

    .features-content {
        width: 1296px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-bottom: 112px;
    }

    h1 {
        margin: 0;
        /* letter-spacing: .3px; */
        font-size: 40px;
        font-weight: 800;
        line-height: 130%;
        /* color: var(--color-white); */
        color: var(--color-dark);
    }

    p {
        margin-top: 10px;
        font-size: 18px;
        line-height: 160%;
        font-weight: 400;
        color: var(--color-gray);
    }

    .features-info {
        width: 746px;

    }

    .feature-grid {
        display: grid;
        grid-template-columns: 60px auto 60px auto;
        gap: 48px 0px;
        margin-top: 70px;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            background-color: rgba(99, 101, 241, 8%);
            border-radius: 8px;
        }
        .text {
            height: 118px;
            width: 318px;
            margin-left: 24px;
            padding-right: 50px;
        }

        h5 {
            margin: 0px 0px 12px 0px;
            font-size: 20px;
            font-weight: 800;
            line-height: 140%;
            /* color: var(--color-white); */
            color: var(--color-dark);
        }

        p {
            font-size: 16px;
            line-height: 160%;
            /* color: var(--color-white); */
            color: var(--color-gray-700);
            /* opacity: 0.7; */
        }
        img {
            height: 28px;
            object-position: center;
        }
    }
}

.how {
    height: 1077px;
    background-color: var(--color-gray-100);
    padding-top: 80px;
    text-align: center;
    &.dark {
        background-color: rgba(255, 255, 255, 0.04);
    }
    &.dark h1 {
        color: var(--color-white);
    }
    &.dark h4 {
        color: var(--color-white);
    }
    &.dark p {
        font-weight: 200;
        color: var(--color-white);
        opacity: 0.7;
        letter-spacing: .3px;
    }

    h1 {
        font-size: 40px;
        line-height: 130%;
        color: var(--color-dark);
        font-weight: 800;
        /* color: var(--color-white); */
        margin: 0;
        /* letter-spacing: .3px; */
    }

    .how-wrapper {
        height: 663px;
        width: 1184px;
        margin: 48px auto 40px;
        display: flex;
        justify-content: space-between;

    }

    h4 {
        font-size: 24px;
        line-height: 140%;
        color: var(--color-dark);
        font-weight: 800;
        /* color: var(--color-white); */
        margin-bottom: .8rem;
    }

    p {
        width: 636px;
        margin: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        color: var(--color-gray-700);
    }
}

.banking {
    &.dark .inner-box h2 {
        color: var(--color-white);
    }
    &.dark .inner-box p {
        color: var(--color-white);
        opacity: 0.7;
        font-weight: 200;
        letter-spacing: 0.3px;
    }
    padding-bottom: 112px;
    .banking-wrapper {
        height: 1080px;
        width: 1076px;
        margin: 112px auto 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bank-content {
        display: flex;
    }

    .inner-box {
        flex: 1;
        height: 500px;
        position: relative;
        color: var(--color-dark);
        /* color: var(--color-white); */
         ul {
            list-style: none;
            color: var(--color-primary);
            padding-left: 0;
         }
         li {
            font-size: 17px;
            margin: 12px 2px;
         }
         h2 {
            font-size: 32px;
            font-weight: 800;
            line-height: 130%;
            margin-bottom: .4rem;
            margin-top: 0px;
        }

        p {
            display: inline-block;
            color: var(--color-gray-700);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            margin-left: .6rem;
        }

        button {
            height: 44px;
            width: 159px;
            margin-top: 12px;
            background-color: var(--color-primary);
            border: none;
            border-radius: 6px;
            font-size: 14px;
            color: var(--color-white);
            letter-spacing: .3px;
        }
        button ::before {
            padding-left: 8px;
        }

        button:hover {
            cursor: pointer;
            background-color: hsl(239, 84%, 70%);
        }
        button:active {
            background-color: hsl(239, 84%, 65%);
        }

        &.one {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &.two img:nth-child(1) {
            position: absolute;
            top: 22px;
            left: 40px;
        }

        &.two img:nth-child(2) {
            position: absolute;
            bottom: 24px;
            right: 26px;
        }

        .bank-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0px 38px;
        }
        .bank-grid > div {
            height: 60px;
            width: 60px;
            background-color: rgb(99 102 241 / 8%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            margin-bottom: 1rem;
        }

    }

    .inner-box.four {
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin-bottom: 40px;
        }

        p {
            margin-left: 0;
            /* letter-spacing: .2px; */
            margin-bottom: 30px;
        }
    }
}

.clients {
    height: 542px;
    padding-top: 80px;
    background-color: var(--color-gray-100);
    &.dark {
        background-color: rgba(255, 255, 255, 0.04);
        p {
            font-weight: 300;
        }
    }
    &.dark .clients-wrapper h2 {
        color: var(--color-white);
        letter-spacing: .3px;
        font-weight: 700;
    }
    &.dark .comments {
        background-color: rgba(255, 255, 255, 0.04);
        letter-spacing: .2px;
        color: rgba(255, 255, 255, 0.70);
        box-shadow: none;
    }
    &.dark .comments .avatar p {
        color: var(--color-white);
        opacity: 0.5;
    }
    &.dark .comments span {
        color: var(--color-white);
        font-weight: 600;
    }
}

.clients-wrapper {
    height: 350px;
    width: 1296px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    > div {
        width: 416px;
        height: 100%;
    }

    h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 130%;
        color: var(--color-dark);
        padding-right: 80px;
        margin-top: 0;
    }

    .comments {
        height: 329px;
        background-color: white;
        padding: 24px;
        font-size: 18px;
        line-height: 160%;
        font-weight: 400;
        border-radius: 8px;
        color: var(--color-gray-700);
        position: relative;
        box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 8%);

        .quote {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: 44px;
            width: 44px;
            background-color: var(--color-primary);
            top: -28px;
            border-radius: 6px;
            box-shadow: 0px 14px 8px -8px rgb(99 102 241 / 35%);
        }

        .quote img {
            margin: 0;
        }

        img {
            margin-top: 24px;
            margin-bottom: 1rem;
        }

        .avatar {
            display: flex;
        }

        .avatar > div {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            margin-top: 24px;
        }

        .avatar p {
            font-size: 14px;
            font-weight: 200;
            color: var(--color-gray);
        }

        span {
            font-size: 16px;
            height: 23px;
            font-weight: 800;
            color: var(--color-dark);
        }

    }
}

.faq-wrapper {
    width: 1296px;
    min-height: 600px;
    display: flex;
    margin: 112px auto 0px;

    h2 {
        font-size: 32px;
        line-height: 130%;
        font-weight: 800;
        margin: 0;
        color: var(--color-dark);
    }
    &.dark h2 {
        color: var(--color-white);
        font-weight: 700;
    }
    &.dark a {
        color: var(--color-white);
    }
    &.dark .contact > div {
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
    &.dark .dropdowns > div {
        background-color: rgba(255, 255, 255, 0.04);
        box-shadow: none;
    }
    &.dark p {
        letter-spacing: .2px;
        color: var(--color-white);
        font-weight: 200;
        opacity: 0.7;
    }

    a {
        color: var(--color-dark);
        font-weight: 600;
        /* color: var(--color-white); */
        cursor: pointer;
    }

    p {
        font-size: 14px;
        line-height: 160%;
        font-weight: 400;
        color: var(--color-gray-700);
        margin-top: 1rem;
    }

    .contact {
        padding-right: 134px;
        p {
            margin-top: 2rem;
            font-size: 18px;
            line-height: 160%;
        }

        button {
            background-color: transparent;
            border: none;
            color: inherit;
            padding: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 160%;
            margin-top: 1.2rem;
            letter-spacing: .8px;
            cursor: pointer;
        }

        button ::before {
            padding-left: 7px;
            transition: all 0.2s;
        }

        button:hover ::before {
            padding-left: 12px;
            transition: all 0.2s;
        }

        > div {
            height: 166px;
            width: 196px;
            display: inline-block;
            margin-top: 40px;
            padding: 23px;
            border: 1px solid var(--color-gray-300);
            border-radius: 8px;
            color: var(--color-primary);
        }

        > div p {
            font-size: 14px;
            margin-top: 10px;
        }

        > div:nth-child(even) {
            float: right;
            color: var(--color-success);
        }
    }

    .caret-btn, .chevron-down {
        height: 36px;
        width: 36px;
        font-size: 10px;
    }

    > div {
        flex: 1;
    }

    .dropdowns {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        > div {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 68px;
            width: 746px;
            padding: 15px 24px;
            margin: 1rem 0;
            border-radius: 8px;
            box-shadow: 0px 4px 4px 3px rgb(0 0 0 / 6%);
            color: var(--color-white);
            transition: height 0.5s;
        }

        > div > div {
            font-weight: 500;
            /* letter-spacing: .1px; */
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
        }

        > div.active .caret-btn {
            background-color: var(--color-primary);
            box-shadow: 0px 2px 5px rgba(99, 101, 241, 0.5);
            transition: background-color 0.5s;
        }
        > div.active .chevron-down {
            transform: rotate(180deg);
        }

        > div.active {
            flex-direction: column;
            transition: height 0.5s;
            height: 180px;
            border: 1px solid rgba(255, 255, 255, 0.15);

        }
    }
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1296px;
    height: 222px;
    margin: 112px auto 0px;
    padding: 0px 110px;
    border-radius: 8px;
    background-color: var(--color-gray-100);
    color: var(--color-white);
    &.dark {
        background-color: rgba(255, 255, 255, 0.04);
    }
    &.dark h2 {
        color: var(--color-white);
    }
    &.dark input {
        background: url('/src/assets/bx-envelope.svg') no-repeat;
        background-position-y: center;
        background-position-x: 1rem;
        background-color: rgba(255, 255, 255, 2%);
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: rgba(255, 255, 255, 40%);
    }
    &.dark input::placeholder {
        font-weight: 300;
        color: rgba(255, 255, 255, 40%);
    }

    h2 {
        color: var(--color-dark);
        font-weight: 800;
        padding-left: 2rem;
        line-height: 140%;
        /* letter-spacing: .2px; */
    }

    > div {
        display: flex;
    }

    .subscribe-content {
        flex: 1.2
    }

    .subscribe-input {
        flex: 0.8;
    }

    input {
        background: url('/src/assets/lightbx-envelope.svg') no-repeat;
        background-position-y: center;
        background-position-x: 1rem;
        background-color: white;
        width: 332px;
        margin-left: 70px;
        padding-left: 46px;
        height: 52px;
        font-size: 16px;
        line-height: 16%;
        color: var(--color-gray-500);
        border: 1px solid var(--color-gray-400);
        border-right: none;
        border-radius: 8px 0px 0px 8px;
    }

    input::placeholder {
        color: var(--color-gray-500);
    }

    button {
        width: 142px;
        background-color: var(--color-primary);
        border: none;
        border-radius: 0px 8px 8px 0px;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: .7px;
        color: var(--color-white);
        cursor: pointer;

        &:hover {
            background-color: hsl(239, 84%, 70%);
        }
        &:active {
            background-color: hsl(239, 84%, 65%);
        }
    }
}

.contact-page {
    height: 777px;
    padding-top: 76px;
    background-color: var(--color-gray-100);

    h1 {
        font-size: 40px;
        margin-top: 0.4rem;
        height: 84px;
        font-weight: 800;
    }

    h2 {
        margin-top: 4px;
        margin-bottom: 14px;
        font-weight: 800;
    }

    p {
        line-height: 160%;
        color: var(--color-gray-700);
    }

    .wrapper {
        width: 1296px;
        height: 100%;
        position: relative;
        margin: 90px auto 0px;
        /* border: 1px dashed; */
    }

    .contact-info {
        width: 500px;
        display: flex;
        margin-top: 40px;

        > div:nth-child(2) {
            margin-left: 24px;
        }
    }

    .contact-button {
        width: 180px;
        margin-top: 28px;
        color: var(--color-primary);
        background-color: transparent;
        border: none;
        text-align: left;
        font-size: 16px;
        padding: 0;
        letter-spacing: .3px;
        i {
            margin-left: 10px;
        }
    }

    .contact-form {
        width: 636px;
        height: 718px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 8%);
        background-color: white;

        h2 {
            margin-top: 0;
            font-size: 32px;
        }
    }

    .form-wrapper {
        width: 492px;
        height: 80%;
        margin: 70px auto 0;
        /* border: 1px dashed; */

        input, select {
            width: 100%;
            height: 52px;
            border: 1px solid var(--color-gray-400);
            border-radius: 8px;
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }

        .specialist {
            border: 1px solid var(--color-gray-400);
            border-radius: 8px;
            margin-top: 0.5rem;
        }

        .specialist select {
            border: none;
            border-right: 1rem solid transparent;
            border-left: 1rem solid transparent;
            margin: 0;
        }

        option, select {
            font-family: 'Manrope';
            font-weight: 500;
            font-size: 14px;
        }

        label {
            font-weight: 600;
            margin-bottom: 8px;
        }

        form {
            margin-top: 40px;
        }

        .form-button {
            width: 100%;
            height: 52px;
            margin-top: 144px;
            color: var(--color-white);
            background-color: var(--color-primary);
            box-shadow: 0px 4px 8px rgba(99, 102, 241, 0.7);
            border: none;
            border-radius: 8px;
            text-align: center;
            font-size: 16px;
            font-family: 'Manrope';
            padding: 0;
            letter-spacing: .3px;
        }
    }
}

.location {
    min-height: 800px;

    .wrapper {
        display: flex;
        width: 1296px;
        height: 540px;
        margin: 210px auto 0;
    }

    .address-info {
        margin-left: 134px;

        > div {
            display: flex;
            margin-top: 1rem;
        }

        span {
            font-weight: 700;
        }

        p {
            margin-left: 0.5rem;
        }

        > p {
            padding-left: 20px;
            margin-bottom: 40px;
        }
    }

    h5 {
        font-size: 24px;
        font-weight: 800;
        margin: 0 0 26px 0;
    }

    .social-media {
        img {
            margin-right: 1rem;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 129px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .3px;
    background-color: white;
    color: var(--color-gray-700);
    &.dark {
        background-color: var(--color-dark);
        color: rgba(255, 255, 255, 50%);
    }
}